@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 222.2 84% 4.9%;
    --card: 60 56% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 60 56% 95%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 98 59% 35%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 43 65% 50%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 98 20% 75%;
    --input: 98 20% 85%;
    --ring: 98 59% 35%;
    --chart-1: 98 59% 35%;
    --chart-2: 0 84.2% 60.2%;
    --chart-3: 43 65% 50%;
    --chart-4: 217 91% 60%;
    --chart-5: 173 58% 39%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 98 10% 10%;
    --foreground: 60 9.1% 97.8%;
    --card: 98 10% 12%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 98 10% 10%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 98 50% 55%;
    --primary-foreground: 98 59% 20%;
    --secondary: 98 5% 20%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 98 5% 20%;
    --muted-foreground: 60 5% 63.9%;
    --accent: 43 70% 60%;
    --accent-foreground: 43 65% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 98 10% 25%;
    --input: 98 10% 25%;
    --ring: 98 50% 55%;
    --chart-1: 98 50% 55%;
    --chart-2: 0 72% 51%;
    --chart-3: 43 70% 60%;
    --chart-4: 217 91% 60%;
    --chart-5: 173 58% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
